<div class="container-fluid">

  <%= render "shared/index_page_header", records: @survivors %>

  <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-3">
    <%= render partial: "shared/record_card", collection: @survivors, as: :record, locals: { info_one: :birth_place_country, info_two: :academic_formation } %>
  </div>
</div>
