<footer class="main-page-footer">
  <div class="footer-logo">
    <%= link_to("https://www.arqshoah.com/", { target: "_blank", rel: :noopener }) do %>
      <%= image_tag("arqshoah-logo-transparent.png", alt: "Arqshoah logo") %>
    <% end %>
  </div>
  <div class="footer-copyright">
    © 2022 Copyright - Arqshoah / LEER. FFLCH/USP
  </div>
  <div class="footer-contacts">
    +55 11 3091 8598 | <%= mail_to("leer@usp.br", subject: "Contacto Arqshoah Arquivo Virtual") %>
  </div>
</footer>
