<div class="container-fluid">
  <h1 class="text-center">Núcleo de Estudos Arqshoah</h1>
  <h2 class="text-center">Arquivo Virtual do Holocausto</h2>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-xxl-6">
      <p class="text-justify">
        Deserunt minim veniam mollit aliquip incididunt irure adipiscing enim pariatur minim anim aliqua
        laborum aliquip pariatur sunt minim nostrud qui. Est deserunt ad dolore dolor nostrud labore aute duis et
        irure id quis. Sunt fugiat elit ex dolore eu exercitation lorem pariatur deserunt cillum mollit. Exercitation
        reprehenderit et laboris voluptate sint ex nisi adipiscing irure sunt ut labore dolore officia aute consectetur sed.
        Labore pariatur in incididunt consequat ipsum fugiat consectetur incididunt nostrud velit ullamco minim qui.
        Eiusmod anim mollit laborum aliqua amet elit aliqua sit officia esse enim nostrud occaecat reprehenderit exercitation.
        Aliqua fugiat consectetur culpa amet velit officia sint aliqua amet esse consectetur excepteur sint ullamco fugiat aute nisi ipsum.
      </p>
    </div>
    <div class="col-sm-12 col-md-8 col-xxl-6">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#666"></rect>
              <text x="50%" y="50%" fill="#444" dy=".3em">First slide</text>
            </svg>          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#666"></rect>
              <text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text>
            </svg>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#666"></rect>
              <text x="50%" y="50%" fill="#444" dy=".3em">Third slide</text>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
