//===== Config files =====\\
@import "config_variables";

//===== Libraries =====\\
@import "actiontext.css";
@import "bootstrap";
@import "fontawesome/fontawesome";
@import "fontawesome/regular";
@import "fontawesome/solid";
@import "fontawesome/brands";

//===== Custom files =====\\
@import "./components";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: $primary;

  .arqshoah-logo-header {
    display: block;
    margin: auto;
    height: 75px;
  }
}

main {
  flex-grow: 1;
  margin: 25px 0;
}

.text-justify {
  text-align: justify;
}
