//===== Config files =====\\
@import "./config_variables/colors";
@import "./config_variables/bootstrap_variables";

//===== Libraries =====\\
@import "actiontext.css";
@import "bootstrap";

//===== Costum files =====\\
@import "./components";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: $primary;

  .arqshoah-logo-header {
    display: block;
    margin: auto;
    height: 75px;
  }
}

main {
  flex-grow: 1;
}

.text-justify {
  text-align: justify;
}
